<template>
  <v-layout row>
    <v-flex xs6 v-if="isUserLoggedIn">
      <songs-bookmarks />
      <recently-viewed-songs class="mt-2"/>
    </v-flex>

    <v-flex class="ml-2" :class="{ xs12: !isUserLoggedIn, xs6: isUserLoggedIn}">
      <songs-search-panel></songs-search-panel>
      <songs-panel class="mt-2"></songs-panel>
    </v-flex>
  </v-layout>
</template>

<script>
  import SongsPanel from './SongsPanel'
  import SongsSearchPanel from './SongsSearchPanel'
  import SongsBookmarks from './SongsBookmarks'
  import RecentlyViewedSongs from './RecentlyViewedSongs'
  import Panel from '@/components/Panel'
  import {mapGetters} from 'vuex'

  export default {
    data () {
      return {
      }
    },
    computed: {
      ...mapGetters({
        isUserLoggedIn: 'isUserLoggedIn'
      })
    },
    components: {
      Panel,
      SongsPanel,
      SongsSearchPanel,
      SongsBookmarks,
      RecentlyViewedSongs
    }
  }
</script>

<style scoped>

</style>
