<template>
  <panel title="Recently Viewed Songs">
    <v-data-table
      :headers="headers"
      :pagination.sync="pagination"
      :items="histories">
      <template slot="items" scope="props">
        <td class="text-xs-right">
          {{props.item.title}}
        </td>

        <td class="text-xs-right">
          {{props.item.artist}}
        </td>
      </template>
    </v-data-table>
  </panel>
</template>

<script>
  import Panel from '@/components/Panel'
  import {mapGetters} from 'vuex'
  import SongHistoryService from '@/services/SongHistoryService'

  export default {
    data () {
      return {
        headers: [
          {
            text: 'Title',
            value: 'title'
          },
          {
            text: 'Artist',
            value: 'artist'
          }
        ],
        pagination: {
          sortBy: 'createdAt',
          descending: true
        },
        histories: []
      }
    },
    computed: {
      ...mapGetters({
        isUserLoggedIn: 'isUserLoggedIn'
      })
    },
    async mounted () {
      if (this.isUserLoggedIn) {
        this.histories = (await SongHistoryService.index()).data
      }
    },
    components: {
      Panel
    }
  }
</script>

<style scoped>

</style>
