<template>
  <div>
    <v-layout>
      <v-flex xs6>
        <song-metadata :song="song"></song-metadata>
      </v-flex>

      <v-flex xs6 class="ml-2">
        <you-tube :youtubeId="song.youtubeId"></you-tube>
      </v-flex>
    </v-layout>

    <v-layout>
      <v-flex xs6 class="mt-2">
        <tab :song="song"></tab>
      </v-flex>

      <v-flex xs6 class="ml-2 mt-2">
        <lyrics :song="song"></lyrics>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
  import SongMetadata from './SongMetadata'
  import Tab from './Tab'
  import Lyrics from './Lyrics'
  import YouTube from './YouTube'
  import SongsService from '@/services/SongsService'
  import SongHistoryService from '@/services/SongHistoryService'
  import Panel from '@/components/Panel'
  import {mapGetters} from 'vuex'

export default {
    data () {
      return {
        song: {}
      }
    },
    computed: {
      ...mapGetters({
        isUserLoggedIn: 'isUserLoggedIn'
      })
    },
    async mounted () {
      const songId = this.$store.state.route.params.songId
      this.song = (await SongsService.show(songId)).data

      if (this.isUserLoggedIn) {
        SongHistoryService.post({
          songId: songId
        })
      }
    },
    components: {
      Panel,
      SongMetadata,
      YouTube,
      Lyrics,
      Tab
    }
}
</script>

<style>
</style>
