<template>
  <panel title="Song Metadata">
    <v-layout>
      <v-flex xs6>
        <div class="song-title">
          {{song.title}}
        </div>
        <div class="song-artist">
          {{song.artist}}
        </div>
        <div class="song-genre">
          {{song.genre}}
        </div>

        <v-flex class="mt-2">
          <v-btn
            dark
            class="cyan"
            bottom
            :to="`${song.id}/edit`">
            Edit
          </v-btn>

          <v-btn
            v-if="isUserLoggedIn && !bookmark"
            dark
            class="cyan"
            bottom
            @click="setAsBookmark">
            Set As Bookmark
          </v-btn>

          <v-btn
            v-if="isUserLoggedIn  && bookmark"
            dark
            class="cyan"
            bottom
            @click="unsetAsBookmark">
            Unset As Bookmark
          </v-btn>
        </v-flex>
      </v-flex>



      <v-flex xs6>
        <img class="album-image" :src="song.albumImageUrl">
        <br>
        {{song.album}}
      </v-flex>
    </v-layout>
  </panel>
</template>

<script>
  import Panel from '@/components/Panel'
  import BookmarkService from '@/services/BookmarksService'
  import {mapGetters} from 'vuex'

  export default {
    props: ['song'],
    data () {
      return {
        bookmark: null
      }
    },
    computed: {
      ...mapGetters({
        isUserLoggedIn: 'isUserLoggedIn'
      })
    },
    watch: {
      async song () {
        if (!this.isUserLoggedIn) {
          return
        }
        try {
          const bookmarks = (await BookmarkService.index({
            songId: this.song.id
          })).data
          if (bookmarks.length) {
            this.bookmark = bookmarks[0]
          }
        } catch (err) {
          console.log(err)
        }
      }
    },
    methods: {
      async setAsBookmark () {
        try {
          this.bookmark = (await BookmarkService.post({
            songId: this.song.id
          })).data
        } catch (err) {
          console.log(err)
        }
      },
      async unsetAsBookmark () {
        try {
          await BookmarkService.delete(this.bookmark.id)
          this.bookmark = null
        } catch (err) {
          console.log(err)
        }
      }
    },
    components: {
      Panel
    }
  }
</script>

<style>
  .song {
    padding: 20px;
    height: 330px;
    overflow: hidden;
  }

  .song-title {
    font-size: 30px;
  }

  .song-artist {
    font-size: 24px;
  }

  .song-genre {
    font-size: 18px;
  }

  .album-image {
    width: 70%;
    margin: 0 auto;
  }
</style>
