<template>
    <v-toolbar fixed dark>
      <v-toolbar-title class="mr-4">
        <router-link to="/" tag="span" style="cursor: pointer">TabTracker</router-link>
      </v-toolbar-title>

      <v-toolbar-items>
        <v-btn
          flat
          dark
          to="/songs">
          Browse
        </v-btn>
      </v-toolbar-items>

      <v-spacer></v-spacer>

      <v-toolbar-items>
        <v-btn
          flat
          to="/login"
          v-if="!$store.getters.isUserLoggedIn">
          Login
        </v-btn>

        <v-btn
          flat
          to="/register"
          v-if="!$store.getters.isUserLoggedIn">
          Sign Up
        </v-btn>

        <v-btn
          flat
          v-if="$store.getters.isUserLoggedIn"
          @click="logout">
          Logout
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
</template>

<script>
  export default {
    methods: {
      logout () {
        this.$store.dispatch('setToken', null)
        this.$store.dispatch('setUser', null)

        this.$router.push({
          name: 'root'
        })
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
