<template>
    <v-layout column>
      <v-flex xs6 offset-xs3>
        <panel title="Login">
          <v-text-field
            label="Email"
            v-model="email"
          ></v-text-field>

          <v-text-field
            label="Password"
            v-model="password"
            type="password"
          ></v-text-field>

          <div v-html="error" class="danger-alert" />
          <v-btn
            class="cyan"
            dark
            @click="register">
            Login
          </v-btn>
        </panel>
      </v-flex>
    </v-layout>
</template>

<script>
import AuthenticationService from '@/services/AuthenticationService'
import Panel from '@/components/Panel'

export default {
  data () {
    return {
      email: '',
      password: '',
      error: null
    }
  },
  methods: {
    async register () {
      try {
        const response = await AuthenticationService.login({
          email: this.email,
          password: this.password
        })

        this.$store.dispatch('setToken', response.data.token)
        this.$store.dispatch('setUser', response.data.user)
        this.$router.push({
          name: 'songs'
        })
      } catch (error) {
        this.error = error.response.data.error
      }
    }
  },
  components: {
    Panel
  }
}
</script>


<style scoped>
</style>
